/* love-ya-like-a-sister-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Love Ya Like A Sister';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/love-ya-like-a-sister-v20-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* exo-2-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/exo-2-v21-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* exo-2-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/exo-2-v21-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --text-color: #070808;
    --page-background-color: #fefeff;
    --background-button-color: #e7e7e5;
    --background-button-color-dark: #635da7;
    --background-button-hover-color: #ccccc3;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-size-regular: 1rem;
    --button-color: #ffffff;
    --button-color1: #f0f040;
    --button-color2: #a7ee78;
    --button-color3: #7eb4fa;
    --button-color4: #9479d4;
    --button-color5: #15c9ae;
    --button-color6: #f5ab51;
}

/* adding margins left and right, at the top enough margin for fixed nav bar
   assigning custom fonts, font color and size */

body {
    background-color: var(--page-background-color);
    font-family: 'Exo 2', sans-serif;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-regular);
    color: var(--text-color);
    line-height: 1.4;
    margin: 100px 60px 40px;
}

/*  styles for navbar  */
.pokemon-title {
    font-family: 'Love Ya Like A Sister', sans-serif;
    font-size: 40px;
    font-weight: var(--font-weight-normal);
    color: var(--page-background-color);
}

#showNumberInNavbar {
    margin: 10px;
    color: var(--button-color)
}

#navbarToggler {
    justify-content: flex-end;
}

/* some styles for display of modal */
.modal-header h1 {
    font-family: 'Love Ya Like A Sister', sans-serif;
    font-weight: var(--font-weight-normal);
    color: var(--text-color);
    font-size: 3rem;
}

.modal-body p {
    font-size: 1.1rem;
    font-weight: var(--font-weight-bold);
}

.pokemonAbility {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 5px;
    background-color: var(--background-button-color);
}

.pokemonTypes {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 5px;
    background-color: var(--button-color2);
}

/* classes for different button borders; classes are assigned at random by JavaScript */
.color1Button {
    border-color: var(--button-color1);
}

.color2Button {
    border-color: var(--button-color2);
}

.color3Button {
    border-color: var(--button-color3);
}

.color4Button {
    border-color: var(--button-color4);
}

.color5Button {
    border-color: var(--button-color5);
}

.color6Button {
    border-color: var(--button-color6);
}

/* styles for the pokemon button items */
ul .btn {
    color: var(--text-color);
    background-color: var(--background-button-color);
    font-family: inherit;
    font-weight: var(--font-weight-bold);
    font-size: 1.2rem;
    padding: 1rem 0.75rem;
    border-width: 6px;
    border-radius: 15px;
}

.btn:hover {
    background-color: var(--background-button-hover-color);
    border-color: var(--background-button-hover-color);
}

/* buttons used in modal and in search bar */
.btn-secondary,
.searchButton {
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-bold);
    color: var(--button-color);
    background-color: var(--background-button-color-dark);
    border: 0;
}

.btn-secondary:hover,
.searchButton:hover {
    background-color: var(--text-color);
}

.list-group-item {
    border: 0;
    background-color: var(--page-background-color);
}

.backToList,
.loadMoreButton {
    color: var(--text-color);
    background-color: var(--background-button-color);
    font-family: inherit;
    font-weight: var(--font-weight-bold);
    font-size: 1.2rem;
    padding: 0.5rem 0.75rem;
    border-radius: 15px;
    border-width: 0;
}

.backToList:focus,
.backToList:active,
.loadMoreButton:focus,
.loadMoreButton:active {
    border-width: 0;
    border-color: var(--background-button-color);
}

.displayInfoText {
    color: var(--text-color);
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: var(--font-weight-normal);
    margin: 10px;
    text-align: center;
}

.invisible {
    display: none;
}

.imprint {
    font-size: 0.9rem;
    color: #656666;
    text-align: center;
    margin: 1rem;
}

@media all and (max-width: 720px) {

    /* decrease font sizes and padding for small screens */
    body {
        padding: 0 20px;
        margin: 75px 30px 20px;
    }

    #showNumberInNavbar {
        margin: 8px;
        font-size: 16px;
    }

    .pokemon-title {
        font-size: 35px;
    }

    .displayInfoText {
        padding: 10px;
        font-size: 1rem;
        font-weight: var(--font-weight-normal);
        margin: 6px;
    }

    .modal-header h1 {
        font-size: 2rem;
    }
}

@media all and (max-width: 576px) {

    /* decrease font sizes and padding for extrasmall screens */
    body {
        font-size: 13pt;
        padding: 0 20px;
        margin: 65px 30px 20px;
    }

    .pokemon-title {
        font-size: 28px;
    }

    .displayInfoText {
        padding: 10px;
        font-size: 1rem;
        font-weight: var(--font-weight-normal);
        margin: 6px;
    }

    .modal-header h1 {
        font-size: 1.7rem;
    }

    .listItemButton {
        font-size: 1rem;
    }

    ul {
        padding: 5px;
    }

    ul li {
        margin: 10px 5px;
    }
}